// out: challengeReport.wxss, compress:true, sourceMap:false

.reportSubmit {
  padding: 0 40rpx;
  box-sizing: border-box;
  display:block;

	.header {
		width: 100%;
		height: 90rpx;
		display: flex;
		font-size: 36rpx;
		position: fixed;
		left: 0;
		top: 0;
		view {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.title {
			flex: 1;
		}
		.item {
			width: 170rpx;
			&.fabu {
				color: #e9be4b;
      }
      &:after{
        border: none;
      }
			border: none;
			background: #fff;
		}
	}
	.section {
		height: 200rpx;
		color: #a3a3a3;
		font-size: 32rpx;
		margin-top: 120rpx;
		margin-bottom: 120rpx;
		textarea {
			width: 100%;
		}
	}
	.addImg {
		width: 210rpx;
		height: 210rpx;
		border-radius: 8rpx;
		background: #f3f3f3;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		image {
			width: 71rpx;
			height: 71rpx;
		}
		.sign_images {
			width: 100%;
			height: 100%;
		}
	}
	.getMap {
		width: 670rpx;
		margin: 0 40rpx;
		height: 126rpx;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		display: flex;
		align-items: center;
		color: #1f1f1f;
		font-size: 32rpx;
		position: fixed;
		bottom: 80rpx;
		left: 0;
		.point {
			width: 31rpx;
			height: 41rpx;
		}
		.right {
			width: 16rpx;
			height: 29rpx;
		}
		.icon {
			margin: 0 10rpx;
		}
		.text {
			flex: 1;
			padding-left: 20rpx;
			overflow: hidden;
		}
	}
}
